:root {
    --primary-color: #86BBD8;
    --secondary-color: #202C59;
}


* { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color); 
    font-size: large;
}

section {
    padding: 30;
}
/* start ofn the header and intro setions */
header {
    padding: 40px 40px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

header nav {
    margin: 7px 0;
}

header nav ul { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

header nav ul li a {
    padding: 20px 15px;
    font-weight: bold;
}

.intro {
    background-image: url(./images/wave.svg);
    background-size: cover;
    background-position: center;
}

.intro h2 {
    font-size: 3.25vw;
    text-align: right;
}

/* start of the about me section */
.about{
    text-align: center;
}

div .container{
    margin: 30;
}

div .container p{
    display: flex;
    align-self: flex-end;

}

div .container img{
    align-self: flex-start;
 }

/* This styles the avatar profile photo */
.avatar {
    border-radius: 50%;
    width: 375px;
    height: 350px;
    margin-left: 100;
}

/* added flex to the container and the article */
.project-box {
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:right;
}

.my-work article{
    display: flex;
    justify-content: right;
}

.frist-project-image {
    width: 600px;
    height: 400px;
    opacity: .8;
}

.project-image{
    opacity: .8;
    width: 300;
    height: 200;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* This is the resume section */
.resume{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resume div{
    font-size: larger
}

/* This is the footer */
footer {
    padding: 50px 30px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer li{
    margin: 50 160 0 0;
    font-size: larger;
    align-items: center;
    justify-content: center;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

    .header h1 {
        font-size: 15px;
    }

    .header nav ul li a {
        font-size: 15px;
    }

}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}
        

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
 
}